.btn {
    min-height: var(--tap-size);
    padding: 0 16px;

    border-radius: var(--radius);
    font-weight: 600;
    border: none;

    cursor: pointer;
    transition: 0.15s;
}

.btn:active {
    transform: scale(0.97);
}

/* primary */
.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

/* danger */
.btn-danger {
    background: var(--color-danger);
    color: white;
}

/* FAB */
.fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 56px;
    height: 56px;

    border-radius: 50%;
    border: none;

    background: var(--color-primary);
    color: white;

    font-size: 26px;
    box-shadow: var(--shadow-md);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.fab-button:active {
    transform: scale(0.95);
}
