.program-name {
    font-weight: 600;
}

.badge-active {
    font-size: 12px;
    color: var(--color-primary);
    margin-top: 4px;
}

.page-title {
    font-size: 20px;
    font-weight: 600;
}

.program-left-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
